bin/
.git/
engine/build/*
engine/.cache
engine/compile_commands.json
testsuite/build/*
testsuite/.cache
testsuite/compile_commands.json
tests/build/*
tests/.cache
tests/compile_commands.json
.vs/*
.vscode/*
.nvim.lua
